.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  font-size: 30px;
  line-height: 42px;
  margin-left: 48px;
  align-self: start;
}

.khan__buy-link:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
